.post {
    background-color: rgba(120,80,180,0.5);
    padding: 1vh 5vw;
    margin: 1vh auto;
    border-radius: 5px;
    text-shadow: 0px 0px 1px white;    
    box-shadow: 0px 2px 5px -2px rgba(169,126,225,1);
    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.post a {
    color: black;
}

.post h3 {
    margin-top: 1rem;
}

.post a:hover{
    color: white;
}

.img_w_caption {
    padding: 3%;
    background-color: rgba(120,80,180,0.5);
    margin: 2% 0;
    text-align: center;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px -2px rgba(169,126,225,1);
    text-shadow: 0px 0px 1px white;    
}

.small {
    font-size: 70%;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 600px) {
/* Styles */
    h1 a {
        font-size: 80%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 350px) {
/* Styles */
    h1 a {
        font-size: 60%;
    }
}
